<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js" integrity="sha512-5qbIAL4qJ/FSsWfIq5Pd0qbqoZpk5NcUVeAAREV2Li4EKzyJDEGlADHhHOSSCw0tHP7z3Q4hNHJXa81P92borQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css" integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="toggle" onclick="toggleMenu();"></div>
    <section class="banner" id="home">
        <div class="imgsidebar">
            <img src="~/images/pimg.jpg" alt="">
        </div>
        <div class="contentbox">
            <h5 class="ptext">My Portfolio</h5>

            <h4><span>Hello</span>, I,m</h4>
            <h2>Ahmed Hassan</h2>
            <h4>I'm a Frontend designer and Wordpress Developer.</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam, laboriosam hic! Explicabo tempora repellat assumenda non modi enim, debitis, neque natus magni,
                officiis veniam repudiandae nesciunt? Dignissimos vel quod voluptatibus!
            </p>
            <br>
            <a href="#" class="btn">About Me</a>
            <ul class="sci">
                <li><a href="#"><img src="images/facebook-brands.svg" alt="" height="30" width="30"></a></li>
                <li><a href="#"><img src="images/instagram-brands.svg" alt="" height="30" width="30"></li>
                <li><a href="#"><img src="images/envelope-solid.svg" alt="" height="30" width="30"></a></li>
                <li><a href="#"><img src="images/github-brands.svg" alt="" height="30" width="30"></a></li>
            </ul>
        </div>

        </div>
    </section>
    <section class="about" id="about">
        <div class="tittle">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
        <div class="content">
            <div class="textbx">
                <p style="color: #fff;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Veritatis veniam maxime similique ipsa aliquam iusto a vitae quibusdam ab labore,
                    tempora architecto placeat voluptas eum est at? Magni, ab dolores?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate facere quidem quis, inventoreconsectetur non necessitatibus magni architecto
                    repellendus nihil animi! Incidunt a vel accusamus nesciunt ex soluta dignissimos quis<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, nihil sunt reiciendis doloremque aliquam expedita, saepe ex sequi, dolorum eius repellat debitis esse?
                    Repellendus perspiciatis inventore aliquam dolorem delectus debitis?
                </p>
            </div>
            <div class="imgbx">
                <img src="~/images/bg1.jpg" alt="" height="350px" width="500px">
            </div>
        </div>
    </section>
    <section class="services" id="services">
        <div class="tittle1">
            <h2>Services</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione itaque,
                nihil autem ut illo laudantium omnis modi non dolor libero quod reiciendis quidem mollitia facilis earum,
                molestias obcaecati! A, nihil!
            </p>
        </div>
        <div class="content">
            <div class="servicesbx">
                <img src="~/images/webdev.png" alt="" height="150" width="150">
                <h2>Web Designing</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="servicesbx">
                <img src="~/images/wordpress.png" alt="" height="150" width="150">
                <h2>Wordpress</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="servicesbx">
                <img src="~/images/coding.png" alt="" height="150" width="150">
                <h2>Backend</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="servicesbx">
                <img src="~/images/graphic.png" alt="" height="150" width="150">
                <h2>Graphic Designing</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="servicesbx">
                <img src="~/images/mobile.png" alt="" height="150" width="150">
                <h2>Mobile App Development</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="servicesbx">
                <img src="~/images/webdev.png" alt="" height="150" width="150">
                <h2>Web Designing</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
        </div>
    </section>
    <section class="work" id="work">
        <div class="tittle1">
            <h2>Work</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione itaque,
                nihil autem ut illo laudantium omnis modi non dolor libero quod reiciendis quidem mollitia facilis earum,
                molestias obcaecati! A, nihil!
            </p>
        </div>
        <div class="content">
            <div class="workbx">
                <div class="imgbx">
                    <img src="~/images/wo.jpg" alt="">
                </div>
                <div class="textbx">
                    <h3>Project 1</h3>
                </div>
            </div>
            <div class="workbx">
                <div class="imgbx">
                    <img src="~/images/wo.jpg" alt="">
                </div>
                <div class="textbx">
                    <h3>Project 2</h3>
                </div>
            </div>
            <div class="workbx">
                <div class="imgbx">
                    <img src="~/images/wo.jpg" alt="">
                </div>
                <div class="textbx">
                    <h3>Project 3</h3>
                </div>
            </div>
            <div class="workbx">
                <div class="imgbx">
                    <img src="~/images/wo.jpg" alt="">
                </div>
                <div class="textbx">
                    <h3>Project 4</h3>
                </div>
            </div>
            <div class="workbx">
                <div class="imgbx">
                    <img src="~/images/wo.jpg" alt="">
                </div>
                <div class="textbx">
                    <h3>Project 5</h3>
                </div>
            </div>
            <div class="workbx">
                <div class="imgbx">
                    <img src="~/images/wo.jpg" alt="">
                </div>
                <div class="textbx">
                    <h3>Project 6</h3>
                </div>
            </div>
        </div>

    </section>

    <section class="contact" id="contact">
        <div class="tittle">
            <h2>Contact</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione itaque,
                nihil autem ut illo laudantium omnis modi non dolor libero quod reiciendis quidem mollitia facilis earum,
                molestias obcaecati! A, nihil!
            </p>
        </div>
        <div class="contactform">
            <div class="row">
                <div class="col50">
                    <input type="text" Name="" placeholder="First Name">
                </div>
                <div class="col50">
                    <input type="text" Name="" placeholder="Last Name">
                </div>
            </div>
            <div class="row">
                <div class="col50">
                    <input type="Email" Name="" placeholder="abc@example.com">
                </div>
                <div class="col50">
                    <input type="tel" Name="" placeholder="Phone">
                </div>
            </div>
            <div class="row">
                <div class="col100">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col100">
                    <input type="submit" name="contact" value="Contact">
                </div>
            </div>
        </div>
    </section>
    <div class="sidebar">
        <ul class="menu">
            <li><a href="#home" onclick="toggleMenu();">Home</a></li>
            <li><a href="#about" onclick="toggleMenu();">About</a></li>
            <li><a href="#services" onclick="toggleMenu();">Services</a></li>
            <li><a href="#work" onclick="toggleMenu();">Work</a></li>
            <li><a href="#contact" onclick="toggleMenu();">Contact</a></li>
        </ul>
    </div>
    <script>
       function toggleMenu(){
           const toggleMenu = document.querySelector('.toggle');
           const sidebar = document.querySelector('.sidebar');
           toggleMenu.classList.toggle('active');
           sidebar.classList.toggle('active');
       }
    </script>
</body>
</html>
